body{
    font-family: Arial, sans-serif;
    background:#111;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:400px;
    text-align:center;
}

.input-box{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
}

button{
    padding:10px 15px;
    cursor:pointer;
}

ul{
    list-style:none;
    padding:0;
    margin-top:20px;
}

li{
    background:#222;
    padding:10px;
    margin:10px 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.watched{
    text-decoration:line-through;
    color:lightgreen;
}
